
<table  class="table-fill">
    <!-- Ici, on écrira le contenu du tableau -->
    <tr>
        <th class="text-left">Nom</th>
        <th class="text-left">Prenom</th>
        <th class="text-left">Adresse Mail</th>
        <th class="text-left">Sexe</th>
    </tr>

    <tr ng-repeat="geek in Geeks">
        <td class="text-left">{{geek.nom}}</td>
        <td class="text-left">{{geek.prenom}}</td>
        <td class="text-left">{{geek.email}}</td>
        <td class="text-left">{{geek.sexe}}</td>
    </tr>
</table>