<h1>Search a Geek</h1>

<form class="form" ng-controller="Search", action>
    <select data-toggle="select">
        <option value="0" >PHP</option>
        <option value="1" >JAVA</option>
        <option value="2" >TDD</option>
        <option value="3" >JUnit</option>
        <option value="4" >VBA</option>
    </select>
    Preference :
    <br/>
    Femme
    <input type="checkbox" name="choix1" value="1">
    Homme
    <input type="checkbox" name="choix2" value="2">

    <button type="submit" id="login-button" ng-click="search()">Search</button>
</form>